html{
  width: fit-content;
  min-height: fit-content;
  margin: 0;
  padding: 0;
}
h1{
  color: #ffebcd;
  font-size:  max-vw;
  font-family: raleway
}
h1,.est{
  text-align: center;
}
.est{
  font-size: 40%;
}
h2{
  text-align: justify;
  color: black;
}
h2{
  font-size: 200%;
}
h1{
background-image: url(fancy.jpg);
}
.bio{
height: 5%;
width: 5%;
  background-color:beige;
  margin-left:auto;
  margin-right:auto;
}
.home{
text-align: center;
font-style: italic;
font-size: 4vw;
display: grid;
place-content: center;
background-color:var(--bg-color);
position: relative;
outline: 2px solid purple;
width: max-content;
background: teal;
animation: typewriter 5s steps(51) 1s 1 normal both, blinkTextCursor 500ms
steps(51) infinite normal;
}
@keyframes typewriter {
  from{width: 0;}
  to{width: 24em;}

}
@keyframes blinkTextCursor {
  from{border-right-color: rgba(red, green, blue, alpha);}
}
P{
  text-align:left ;
  font-family: raleway;
}
.sum,h3,h4{
  text-align: justify;
  font-style:oblique;
  color: black;
}
.skil{
  background-image: url(background2.jpg);
  font-style: italic;
  color: palevioletred;
  width: fit-content;

}
button{
  text-align:center;
  color: blue;
}
body{
  text-align: justify;
  font-family:Helvetica;
  font-size: 4vw;
  color: black;
position: absolute;
font-family: 'Poppins', sans-serif;
        font-weight:700;
        display: flex;
        flex-flow:wrap;
}
.contact,footer,.reserve{
  text-align: center;
}
div{
  width: max-vw;
}

.service{
  text-align: justify;
  display: inline-block;
}
.about{
  text-align: justify;
  display: block;
  width: 100%;
  text-decoration-line:underline;
font-family: open sans;
}
.container{
  padding:5px;
  background-color:blue;
  border-style: double;
  border-width:medium;
}
.wrapper{
  margin: 1em auto;
  width: 25vw;
  max-width: 600px;
  position: left;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer{
  background-color: blueviolet;
  height: max-vh;
}
button{
  width: 24vw;
  height: 4vh;
}